In [2]:
import pandas as pd
import numpy as np
import textblob
from textblob import TextBlob

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/hafidhfikri/Practice-Twitter-Sentiment-Analysis/master/train_E6oV3lV.csv')

In [4]:
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
id       31962 non-null int64
label    31962 non-null int64
tweet    31962 non-null object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [6]:
df.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

In [7]:
#Number of words
df['Number of words']=df['tweet'].apply(lambda x:len(str(x).split(' ')))

In [8]:
#Numer of characters
df['Number of characters']=df['tweet'].apply(lambda x:len(x))

In [9]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

df['avg_word'] = df['tweet'].apply(lambda x: avg_word(x))

In [10]:
df[['avg_word','tweet']].head()

   avg_word                                              tweet
0  4.555556   @user when a father is dysfunctional and is s...
1  5.315789  @user @user thanks for #lyft credit i can't us...
2  5.666667                                bihday your majesty
3  4.928571  #model   i love u take with u all the time in ...
4  8.000000             factsguide: society now    #motivation

In [11]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')
df['Stopwords']=df['tweet'].apply(lambda x: [c for c in x.split() if c in stop_words])
df['Stopwords_count']=df['tweet'].apply(lambda x: len([c for c in x.split() if c in stop_words]))

In [12]:
text="the economy is going great"
[c for c in text.split() if c in stop_words]

['the', 'is']

In [13]:
#' '.join([lem.lemmatize(c,'v') for c in text.split() if c not in stop_words])

In [14]:
df[['tweet','Stopwords','Stopwords_count']].head()

,tweet,Stopwords,Stopwords_count
0,@user when a father is dysfunctional and is s...,"[when, a, is, and, is, so, he, his, into, his]",10
1,@user @user thanks for #lyft credit i can't us...,"[for, i, they, don't, in]",5
2,bihday your majesty,[your],1
3,#model i love u take with u all the time in ...,"[i, with, all, the, in]",5
4,factsguide: society now #motivation,[now],1

In [15]:
df['hashtag']=df['tweet'].apply(lambda x:[c for c in x.split() if c.startswith('#')])

In [16]:
df[['hashtag','tweet']].head()

,hashtag,tweet
0,[#run],@user when a father is dysfunctional and is s...
1,"[#lyft, #disapointed, #getthanked]",@user @user thanks for #lyft credit i can't us...
2,[],bihday your majesty
3,[#model],#model i love u take with u all the time in ...
4,[#motivation],factsguide: society now #motivation

In [17]:
df['numerics']=df['tweet'].apply(lambda x:len([c for c in x.split() if c.isdigit()]))

In [18]:
df[['tweet','numerics']].head()

df[df['numerics']!=0].head()

,id,label,tweet,Number of words,Number of characters,avg_word,Stopwords,Stopwords_count,hashtag,numerics
25,26,0,beautiful sign by vendor 80 for $45.00!! #upsi...,13,79,6.700000,"[by, for]",2,"[#upsideofflorida, #shopalyssas, #love]",1
29,30,0,50 people went to nightclub to have a good nig...,24,135,4.666667,"[to, to, have, a, and, those, are, to, their]",9,[#rip#orlando],2
38,39,0,"oh, #cedarpoint. waited 2 hours in the valravn...",19,95,4.529412,"[in, the, and, it, we, were, so]",7,[#cedarpoint.],1
50,51,0,#abc2020 getting ready 2 remove the victums fr...,12,76,6.500000,[the],1,"[#abc2020, #pulseclub, #prayfororlando]",1
85,86,0,woohoo!! just over 5 weeks to go!,10,36,3.857143,"[just, over, to]",3,[],1

In [19]:
df['Uppercase']=df['tweet'].apply(lambda x:len([c for c in x.split() if c.isupper()]))

In [20]:
df[['tweet','Uppercase']].head()

                                               tweet  Uppercase
0   @user when a father is dysfunctional and is s...          0
1  @user @user thanks for #lyft credit i can't us...          0
2                                bihday your majesty          0
3  #model   i love u take with u all the time in ...          0
4             factsguide: society now    #motivation          0

In [21]:
df['Lowercase']=df['tweet'].apply(lambda x:len([c for c in x.split() if c.islower()]))

In [22]:
df['tweet'] = df['tweet'].str.replace('[^\w\s]','')

In [23]:
df['tweet'].head()

0     user when a father is dysfunctional and is so...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model   i love u take with u all the time in u...
4                 factsguide society now    motivation
Name: tweet, dtype: object

In [24]:
df['tweet']=df['tweet'].apply(lambda x:" ".join([c for c in x.split() if c not in stop_words]))

In [25]:
df['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [26]:
freq=pd.Series(' '.join(df['tweet']).split()).value_counts()[:10]
pd.Series(''.join(df['tweet']).split()).value_counts()[:10]

user     8212
love     2135
day      1907
ð        1595
amp      1525
u        1081
time      980
like      959
happy     957
life      883
dtype: int64

In [27]:
freq

user     17473
love      2647
ð         2511
day       2199
â         1775
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [28]:
df['tweet_del']=df['tweet'].apply(lambda x:[c for c in x.split() if c in freq ])

In [29]:
#Freq Word Removal
df['tweet']=df['tweet'].apply(lambda x:" ".join([c for c in x.split() if c not in freq]))
df['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [30]:
#Rare word removal

rare = pd.Series(''.join(df['tweet']).split()).value_counts()[-10:]

In [31]:
pd.Series(''.join(df['tweet']).split()).value_counts()

like                     928
life                     829
get                      778
new                      747
today                    712
people                   671
see                      625
one                      601
take                     583
good                     559
go                       544
smile                    510
bull                     504
cant                     501
dont                     492
positive                 479
bihday                   461
work                     461
thankful                 457
make                     448
us                       441
need                     440
ðð                       439
want                     434
weekend                  429
summer                   425
fun                      425
2                        422
family                   409
wait                     406
                        ...
belmont                    1
nambija                    1
nf6                        1
epicroadtripcare           1
popuplife                  1
impoantevery               1
mentalhealthliterally      1
ohodontist                 1
appetite                   1
rocksize                   1
thatsdays                  1
proofs                     1
familyplay                 1
yorkshirehour              1
fanscant                   1
ow                         1
droppedmention             1
anniecaroline94            1
deliriousfriends           1
2016secret                 1
wen                        1
dogsbihday                 1
redroseâplayed             1
eugenicsfirst              1
dwon                       1
grownassman                1
feelsorryformeive          1
ceremonytake               1
toleratedanother           1
killthemwithkindness       1
Length: 64953, dtype: int64

In [32]:
df['tweet']=df['tweet'].apply(lambda x:" ".join([c for c in x.split() if c not in rare]))

In [33]:
#https://www.analyticsvidhya.com/blog/2018/02/the-different-methods-deal-text-data-predictive-python/

In [34]:
#Spelling correction-TextBlob
#from textblob import TextBlob

In [35]:
#from textblob import TextBlob
#x='Road to hicago and ashington '

In [36]:
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
lem=WordNetLemmatizer()

In [37]:
#df['tweet'].apply(lambda x:' '.join( word_tokenize(x)))

In [38]:
df['tweet'].head(6)

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
5    22 huge fan fare big talking leave chaos pay d...
Name: tweet, dtype: object

In [39]:
df['tweet']=df['tweet'].apply(lambda x:' '.join([lem.lemmatize(c,'n') for c in x.split(' ')]))

In [40]:
df['tweet'].head(6)

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
5    22 huge fan fare big talking leave chaos pay d...
Name: tweet, dtype: object

In [41]:
text1='tom abudhabi joseph abudhabi tom joseph ed uts uts uts abudhabi abudhabi '
pd.value_counts(text1.split())

abudhabi    4
uts         3
joseph      2
tom         2
ed          1
dtype: int64

In [42]:
tf1 = (df['tweet'][0:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [43]:
tf1=df['tweet'][1:50].apply(lambda x:pd.value_counts(x.split())).sum().reset_index()

In [44]:
tf1.head()

    index    0
0  credit  1.0
1     van  1.0
2     pdx  1.0
3   cause  1.0
4     use  1.0

In [45]:
tf1.columns=['words','tf']

In [46]:
tf1.head()

    words   tf
0  credit  1.0
1     van  1.0
2     pdx  1.0
3   cause  1.0
4     use  1.0

IDF=log(N/n) where, N is the total number of rows and n is the number of rows in which the word was present.

In [47]:
tf1[tf1['words'].str.contains('next')]

                words   tf
42               next  1.0
272  ontothenextnovel  1.0

In [48]:
len(df[df['tweet'].str.contains('next')])

363

In [49]:
n=len(df[df['tweet'].str.contains('lyft')])

In [50]:
N=df.shape[0]

In [51]:
np.log(N/n)

8.762865063710954

In [52]:
example=['left','right','up','down']

In [53]:
for i,j in enumerate(example):
    print(i,j)
new_dict=dict(enumerate(example)) 
print(new_dict)

0 left
1 right
2 up
3 down
{0: 'left', 1: 'right', 2: 'up', 3: 'down'}

In [54]:
for i,word in enumerate(tf1['words']):
     tf1.loc[i,'idf']=np.log(df.shape[0]/len(df[df['tweet'].str.contains(word)]))

In [55]:
tf1.head()

    words   tf       idf
0  credit  1.0  7.327781
1     van  1.0  5.236505
2     pdx  1.0  8.762865
3   cause  1.0  5.690172
4     use  1.0  3.552287

In [56]:
tf1.loc[0]

words     credit
tf             1
idf      7.32778
Name: 0, dtype: object

In [57]:
tf1['tf-idf']=tf1['tf']*tf1['idf']

In [58]:
tf1.head(10)

         words   tf        idf     tf-idf
0       credit  1.0   7.327781   7.327781
1          van  1.0   5.236505   5.236505
2          pdx  1.0   8.762865   8.762865
3        cause  1.0   5.690172   5.690172
4          use  1.0   3.552287   3.552287
5   wheelchair  1.0   9.273691   9.273691
6         dont  1.0   3.745585   3.745585
7         cant  2.0   3.538194   7.076388
8  disapointed  1.0  10.372303  10.372303
9   getthanked  1.0   9.679156   9.679156

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [60]:
tfid=TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',stop_words= 'english',ngram_range=(1,1))

In [61]:
tfid

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=1000, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [62]:
train_vect=tfid.fit_transform(df['tweet'])

In [63]:
train_vect

<31962x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 114037 stored elements in Compressed Sparse Row format>

In [64]:
df['sentiment']=df['tweet'][:5].apply(lambda x:TextBlob(x).sentiment[0])

In [65]:
df[['sentiment','tweet']].head(5)

   sentiment                                              tweet
0       -0.3  father dysfunctional selfish drag kid dysfunct...
1        0.2  thanks lyft credit cant use cause dont offer w...
2        0.0                                     bihday majesty
3        0.0                            model take urð ðððð ððð
4        0.0                      factsguide society motivation

In [66]:
from gensim.scripts.glove2word2vec import glove2word2vec
import warnings
warnings.filterwarnings(action='ignore', category=UserWarning, module='gensim')

C:\ProgramData\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")